/7_FILES_MESSAGES/IPC_FILE_EXO2/dist/
/7_FILES_MESSAGES/IPC_FILE_EXO2/build/
/10_sockets/sudp2222/build/
/10_sockets/sudp2222/dist/
/10_sockets/udp2222/dist/
/10_sockets/udp2222/build/
/10_sockets/udp3333/build/
/10_sockets/udp3333/dist/
/10_sockets/sudp3333/build/
/10_sockets/sudp3333/dist/
/10_sockets/sudp4444/build/
/10_sockets/sudp4444/dist/
/10_sockets/udp4444/dist/
/10_sockets/udp4444/build/
/07_FILES_MESSAGES/IPC_FILE_EXO1/build/
/07_FILES_MESSAGES/IPC_FILE_EXO1/dist/
/07_FILES_MESSAGES/IPC_FILE_EXO2/build/
/07_FILES_MESSAGES/IPC_FILE_EXO2/dist/
/07_FILES_MESSAGES/IPC_FILE_EXO3/build/
/07_FILES_MESSAGES/IPC_FILE_EXO3/dist/
/10_sockets/sTCP555/build/
/10_sockets/sTCP555/dist/
